body {
    background-color: #FFFF00;
}

#cabecalho {
    width: 100%;
    height: 200px;
    border: 1px black solid;
    background-image: url("D:/Imagens/Praticando - CSS/chop.jpg");
    background-size: 100% 100%;
}

#cabecalho img {
    height: 100%;
    width: 20%;
    float: left;
}

#cabecalho h1 {
    width: 60%;
    float: left;
    font-size: 58px;
    text-align: center;
    background-color: gray;
    color: white;
}

#meutexto {
    width: 100%;
    float: left;
    text-align: justify;
    font-size: 36px;
    background-color: #F0E68C;
}