        body {
            background-color: #fffdd0;
        }
        
        section {
            width: 90%;
            margin: auto;
        }
        
        article {
            width: 60%;
            height: 400px;
            float: left;
        }
        
        div.h1 {
            height: 60px;
            text-align: center;
            font-size: 24px;
            color: #0000FF;
        }
        
        div.lado {
            width: 30%;
            float: right;
            font-style: italic;
        }
        
        IMG.logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }