            body {
                background-color: #fffdd0;
                font-family: monospace;
            }
            
            section {
                width: 85%;
                margin: auto;
            }
            
            header {
                width: 95%;
                height: 140px;
                background-color: #A0522D;
                color: #FFFFFF;
            }
            
            nav {
                width: 95%;
                height: 45px;
                background-color: #CD853F;
                color: #FFFFFF;
            }
            
            Article {
                width: 95%;
                height: 550px;
                background-color: #D2B48C;
                color: #FFFFFF;
            }
            
            footer {
                width: 95%;
                height: 65px;
                background-color: #B8860B;
                color: #FFFFFF;
            }