body {
    background-image: url("https://static.playoverwatch.com/img/crystal-candy-bg-bottom-00cdaf6844.jpg");
    background-repeat: no-repeat;
    background-size: 600%;
}

.a {
    text-align: 30px;
}

.miniatura {
    width: 120px;
    height: 180px;
    float: left;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10%;
    margin-top: 1%;
}

.coluna {
    float: left;
    width: 25%;
    border: groove 1em orange;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}